body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.hero {
  text-align: center;
  padding: 120px 20px;
}

.buttons a {
  margin: 10px;
  padding: 12px 20px;
  background: #22c55e;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

section {
  padding: 60px;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.skills span {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background: #334155;
  border-radius: 5px;
}
body {
  background: red;
}
